[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "config/awesome/themes/awesome-solarized"]
	path = config/awesome/themes/awesome-solarized
	url = git://github.com/cycojesus/awesome-solarized.git
[submodule "config/awesome/submodules/awesome-freedesktop"]
	path = config/awesome/submodules/awesome-freedesktop
	url = https://github.com/terceiro/awesome-freedesktop.git
[submodule "janus/snipmate-snippets"]
	path = janus/my-snippets
	url = git@github.com:tv/snipmate-snippets.git
[submodule "janus/vimux"]
	path = janus/vimux
	url = https://github.com/benmills/vimux.git
